<template>
	<v-form v-model="valid">
		<v-container>
			<v-row>
				<v-col>
					<v-text-field
						v-model="email"
						:rules="[rules.required, rules.email]"
						label="E-mail"
						required
						error
					></v-text-field>
				</v-col>
			</v-row>
			<v-row>
				<v-col>
					<v-text-field
						v-model="firstname"
						:rules="[rules.required]"
						label="First name"
						required
						error
					></v-text-field>
				</v-col>
			</v-row>
			<v-row>
				<v-col>
					<v-text-field
						v-model="lastname"
						:rules="[rules.required]"
						label="Last name"
						required
					></v-text-field>
				</v-col>
			</v-row>
			<v-row>
				<v-col>
					<v-select
						v-model="scountry"
						:hint="`${scountry.alpha3}, ${scountry.name}`"
						:items="countries"
						item-text="name"
						item-value="alpha3"
						label="Select"
						required
						error
						persistent-hint
						return-object
						single-line
					></v-select>
				</v-col>
			</v-row>
			<v-row>
				<v-col>
					<v-text-field
						v-model="password"
						:append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
						:type="show1 ? 'text' : 'password'"
						:rules="[rules.required, rules.minPasswordLen]"
						label="Password"
						hint="At least 8 characters"
						counter
						required
						@click:append="show1 = !show1"
						error
					></v-text-field>
				</v-col>
			</v-row>
			<v-row>
				<v-col>
					<v-btn
						elevation="2"
					>Puup</v-btn>
				</v-col>
			</v-row>
		</v-container>
	</v-form>
</template>

<script>
import gql from 'graphql-tag';
const isEmail = require('sane-email-validation')
const countryData = require('country-data')
const countries = countryData.countries.all
export default {
	name: 'HelloWorld',
	data: () => ({
		countries: countries,
		valid: false,
		rules: {
			required: v => !!v || 'Required',
			minPasswordLen: v => v.length >= 8 || 'Short password',
			email: v => isEmail(v) || 'Invalid email',
		},
		show1: false,
		scountry: {
			alpha3: 'FIN',
			name: 'Finland',
		},
		password: '',
		email: '',
		firstname: '',
		lastname: '',
	}),
	apollo: {
		$client: 'a',
		$loadingKey: 'loading',
	},
	methods: {
		addTag() {
			// We save the user input in case of an error
			const newTag = this.newTag;

			// We clear it early to give the UI a snappy feel
			this.newTag = '';

			// Call to the graphql mutation
			this.$apollo.mutate({
				// Query
				mutation: gql`mutation ($type: String!, $label: String!) {
					addTag(type: $type, label: $label) {
						id
						label
					}
				}`,

				// Parameters
				variables: {
					type: this.type,
					label: newTag,
				},

				// Update the cache with the result
				// 'tagList' is the name of the query declared before
				// that will be updated with the optimistic response
				// and the result of the mutation
				updateQueries: {
					tagList: (previousResult, { mutationResult }) => {
						// If we added the tag already don't do anything
						// This can be caused by the `updateQuery` of our subscribeToMore
						if (previousResult.tags.find(tag => tag.id === mutationResult.data.addTag.id)) {
							return previousResult
						}
						// We incorporate any received result (either optimistic or real)
						// into the 'tagList' query we set up earlier
						return {
							tags: [
								...previousResult.tags,
								mutationResult.data.addTag
							],
						};
					},
				},
			}).then((data) => {
				// Result
				console.log(data);
			}).catch((error) => {
				// Error
				console.error(error);
				// We restore the initial user input
				this.newTag = newTag;
			});
		}
	}
}
</script>
